@use 'mixins.scss';
@import 'variables.scss';

$mul: 2;

.log-in-form {
  width: calc(400px * #{$mul});
  @include mixins.theme(black);
  button {
    background: green;
    @include mixins.absoluteCenter();
  }
  &__row {
    display: flex;
    width: 100%;
    margin: 12px 0;
  }

  &__field {
    width: 100%;
    padding: 8px;
    border: 1px solid $surface-color;
    background-color: $surface-color;
    &:focus {
      border-color: $accent-color;
    }
    &:hover {
      background-color: $accent-color;
    }
  }
}
